 @import "tailwindcss";

/* .gradient-bg {
  background: linear-gradient(
    90deg,
    #f97316,
    #ec4899,
    #8b5cf6
  );
  transition: transform 0.3s ease;
}

.gradient-bg:hover {
  transform: translateY(-2px);
} */